fastapi
uvicorn
yfinance
requests
httpx
river


psycopg2-binary # For PostgreSQL connection
sqlalchemy # Optional, but recommended for ORM
google-cloud-storage # For GCS interaction in retraining script